*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:#ffffff;
}

body{
    position:fixed;

    width:100vw;
    height:100dvh;

    overflow:hidden;

    touch-action:none;

    display:flex;
    justify-content:center;
    align-items:center;
}

.app{
    position:relative;

    width:min(100vw, calc(100dvh * 1080 / 1920));
    aspect-ratio:1080 / 1920;

    overflow:hidden;
}